@{
}

@model List<Group>

<table>
    @foreach (var x in Model)
            {
                <tr>
                    <td>@x.GroupName</td>
                    <td>@x.TimeSlot.Date</td>
                </tr>
            }
    
</table>