@{
}

@model List<Group>

<table class="table table-bordered table-striped">
    <thead class="font-weight-bold">
        <tr>
            <td>Group Name</td>
            <td>Time Slot</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var x in Model)
        {
        <tr>
            <td>@x.GroupName</td>
            <td>@x.TimeSlot.Date</td>
            <td><a asp-controller="Home" asp-action="Edit" asp-route-id="@x.GroupId">Edit</a></td>
            <td><a asp-controller="Home" asp-action="Delete" asp-route-id="@x.GroupId">Delete</a></td>
        </tr>
        }
    </tbody>

</table>