@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>We look forward to your visit! Please sign up with the link</p>

    <img src="~/img/layton-utah-temple-6932-main.jpg" />
</div>
